language: php
env:
  matrix:
  - secure: PZJLw2PEJb67lTCW16Wktob6bQ8MH14nAOpo2cZlvmc3WgAS+oNRW917bXSUt3lzbP+WoksonvHqcEbukSMldV61zcbw81Zwfa1fqFI6wXg4BMjZnXZFey5VKyVsAeI2av+bMtu5gYZ9SI32uZAoZE3o98o6zJYGmI8+T4ZniJ6uw61yYkz6v+AQnzWytL8WeZSA51MsxCZiZsAwwYqchJyo04CaKRe7Qg0MvjhtBk5S8BFwAicxDTiiFahLFwk8RBMslnlQ+qVp9OTULBUEdJU40sQj9vCMzsGk5k7WCVsx+RmPRMYhEqyOtJtl+gGUbk95o1xd6gi7gCncWCmu/S5+ujTOo9hlDHX2UJRZrCGQe3NRzuPvwzZRHlYz+FJfZ8+Ru9BRwDJEkl2xKt4/Xv4n9vvHsEw/xIjEA84swnt9YcPtCD2VEihrAfGZybYGxW0QFHsQdDCA51AxFedCJJQuiHt8W8n3l8tA7QQEmOfvIB/wfZOWgc6M5D4gRYGvNXTd4oa5Heg3QdTRjYEoiAGihuP3B/5gfe6e7AI96Aryj/0oC8WN/sgz006JeIpT0V9NqGaPB2r/JPX1/KnLDPmSUgk+tc/YNO0WX4zFrC2RHse6W6i6N8KyVOqvYO9O1F8MXZgLIUNIt2+KJt6UcEagMis/uTo0Nitpi1WANOY=
php:
- 7.0
- 7.1
- 7.2
- 7.3
dist: trusty
sudo: false
before_script:
- composer self-update
- composer config --global github-oauth.github.com "$GITHUB_TOKEN"
- composer config minimum-stability dev
- composer config prefer-stable true
- composer global require fxp/composer-asset-plugin
- composer install --prefer-dist --no-interaction
script: vendor/bin/phpunit --verbose
